# ---- Backend Python ----
# Environnements virtuels
backend/venv/
backend/.env
*.env

# --- Caches Python ---
__pycache__/

# Logs et caches
*.log

# ---- Frontend Node ----
frontend/node_modules/

# ---- IDE / OS ----
.vscode/

# MyReadme
README-local.md