# ---- Backend Python ----
backend/venv/
backend/.env
*.env

# --- Caches Python ---
__pycache__/
*.pyc

# Logs and caches
*.log

# ---- Frontend Node ----
frontend/node_modules/
frontend/dist/
frontend/build/

# ---- IDE / OS ----
.vscode/
.idea/
.DS_Store

# ---- Local files ----
README-local.md
*.db